<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CodeDetailMapper">



	<insert id="create">
		INSERT INTO code_detail ( class_code, code_value,
		code_name, sort_seq ) VALUES ( #{classCode}, #{codeValue},
		#{codeName}, #{sortSeq} )
	</insert>

	<select id="getMaxSortSeq" resultType="int">
		select max(sort_seq)
		from
		code_detail
		where class_code = #{classCode}
	</select>

	<select id="list" resultType="CodeDetail">
		select class_code,
		code_value,
		code_name,
		sort_seq,
		use_yn,
		reg_date
		from code_detail
		order by class_code
		asc,
		sort_seq asc
	</select>


</mapper> 